@import "styles/utils";

.button {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  border-radius: 29px;
  color: #FFFFFF;
  padding: 16px 29px 14px 31px;
  border: 0;
  cursor: pointer;

  &.primary {
    background: #4D96A9;

    @include media(">desktop") {
      transition: background 0.3s;

      &:hover {
        background: #71C0D4;
      }
    }

    .highlightText {
      color: #8FE3F9;
    }
  }

  &.secondary {
    background: #855FB1;

    @include media(">desktop") {
      transition: background 0.3s;

      &:hover {
        background: #B18BDD;
      }
    }

    .highlightText {
      color: #D9B8FF;
    }
  }
}
